# NextAuth.js Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-change-in-production-please-use-a-random-string

# Google OAuth (Optional - for Google login)
# Get credentials from: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=336599020681-v4jihguob6p36nlkgm7ttj2ulrvvqmar.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# API Configuration
# Backend API URL (NestJS backend)
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
